.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  scale: 0.6;
  opacity: 0;
  transition: opacity var(--transition-duration) ease-out, scale calc(var(--transition-duration) * 2) ease-out;
  background: url(../img/arrow-top-right.svg) center/50% no-repeat var(--color-dark);

  &--active {
    opacity: 1;
    scale: 1;
  }
}
