.nav {
  @include tablet {
    order: 1;
    flex-basis: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;

    @include mobile {
      column-gap: 25px;
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-light);
    transition: color var(--transition-duration) ease;

    &:focus {
      outline: 2px solid var(--color-light);
      outline-offset: 6px;
    }

    @include hover {
      color: var(--color-light-gray);

      &::after {
        content: "";
        position: absolute;
        left: calc(100% + 8px);
        width: 8px;
        aspect-ratio: 1;
        background-color: var(--color-light-gray);
        border-radius: var(--border-radius);
      }
    }

    @include tablet {
      height: 50px;
    }

    @include mobile {
      height: 32px;
    }
  }
}
