.success {
  position: fixed;
  left: 25px;
  bottom: 25px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-duration) ease, visibility var(--transition-duration) ease;

  &__content {
    max-width: 300px;
    width: 100%;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 30px;
    background-blend-mode: screen, normal;
    backdrop-filter: blur(15px);
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    color: var(--color-light);
  }
}
