.swiper {
  &-pagination-bullet {
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    opacity: 1;
    border: var(--border);

    &-active {
      background-color: var(--color-light);
    }

    &:focus {
      outline: 2px solid var(--color-light);
      outline-offset: 4px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @include mr(20px);

    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }
}
