@mixin shine {
  @keyframes shine {
    0% {
      transform: translate(-100%, -25%) rotate(10deg);
    }
    20% {
      transform: translate(100%, -25%) rotate(10deg);
    }
    100% {
      transform: translate(100%, -25%) rotate(10deg);
    }
  }
}

@mixin separator {
  @keyframes separator {
    50% {
      opacity: 0;
    }
  }
}
