<section class="banner">
  <h2 class="visually-hidden">Upcoming events</h2>
  <div class="banner-swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner-body">
          <div class="banner-info" data-swiper-parallax="-500">
            New event <br />
            coming up / <time datetime="06-07">june 7</time>&nbsp;-&nbsp;<time datetime="06-13">13</time>
          </div>
          <h3 class="banner-title" data-swiper-parallax="-2000">Yoga</h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-body">
          <div class="banner-info" data-swiper-parallax="-500">
            New event <br />
            coming up / <time datetime="07-12">july 12</time>&nbsp;-&nbsp;<time datetime="07-15">15</time>
          </div>
          <h3 class="banner-title" data-swiper-parallax="-2000">Crossfit</h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-body">
          <div class="banner-info" data-swiper-parallax="-500">
            New event <br />
            coming up / <time datetime="08-22">august 22</time>&nbsp;-&nbsp;<time datetime="08-22">26</time>
          </div>
          <h3 class="banner-title" data-swiper-parallax="-2000">Cardio</h3>
        </div>
      </div>
    </div>
    <div class="banner-pagination swiper-pagination"></div>
    <div class="swiper-autoplay-progress">
      <svg class="swiper-autoplay-progress__svg js-autoplay-progress-svg" viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span class="swiper-autoplay-progress__content js-autoplay-progress-content"></span>
    </div>
  </div>
</section>
