<section class="banner">
  <h2 class="visually-hidden">Upcoming events</h2>
  <div class="banner-body">
    <div class="banner-info">
      New event <br />
      coming up / <time datetime="06-07">june 7</time>&nbsp;-&nbsp;<time datetime="06-13">13</time>
    </div>
    <h3 class="banner-title">Crossfit</h3>
  </div>
  <div class="banner-pagination">
    <ul class="banner-pagination__list list-reset">
      <li class="banner-pagination__item">
        <button class="banner-pagination__btn btn-reset" type="button" aria-label="Click to navigation"></button>
      </li>
      <li class="banner-pagination__item">
        <button class="banner-pagination__btn btn-reset" type="button" aria-label="Click to navigation"></button>
      </li>
      <li class="banner-pagination__item">
        <button class="banner-pagination__btn btn-reset is-current" type="button"
          aria-label="Click to navigation"></button>
      </li>
    </ul>
  </div>
</section>
