<section class="family" id="family">
  <div class="family__content container">
    <h2 class="family__title title title--big backdrop-title backdrop-title--centered" data-title="part">be a part of
      our fit family</h2>
    <div class="family__text section-descr">
      <p>Training helps you think and feel better. join us!</p>
    </div>
  </div>
  <div class="family__swiper swiper container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="family__img" src="img/family/family-img-1.jpg" alt="Training people" width="414" height="479"
          loading="lazy">
      </div>
      <div class="swiper-slide">
        <img class="family__img" src="img/family/family-img-2.jpg" alt="Training people" width="744" height="479"
          loading="lazy">
      </div>
      <div class="swiper-slide">
        <img class="family__img" src="img/family/family-img-3.jpg" alt="Training people" width="396" height="479"
          loading="lazy">
      </div>
      <div class="swiper-slide">
        <img class="family__img" src="img/family/family-img-4.jpg" alt="Training people" width="396" height="479"
          loading="lazy">
      </div>
      <div class="swiper-slide">
        <img class="family__img" src="img/family/family-img-5.jpg" alt="Training people" width="414" height="479"
          loading="lazy">
      </div>
    </div>
  </div>
</section>
