<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="#">
      <img class="header__icon" src="img/logo.svg" alt="Kropp logo" width="135" height="25" loading="lazy">
    </a>
    <nav class="header__nav" aria-label="Main navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" data-scroll data-menu-item>Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#motivation" class="header__nav-link" data-scroll data-menu-item>Motivation</a>
        </li>
        <li class="header__nav-item">
          <a href="#join" class="header__nav-link" data-scroll data-menu-item>Join us</a>
        </li>
        <li class="header__nav-item">
          <a href="#family" class="header__nav-link" data-scroll data-menu-item>Our family</a>
        </li>
        <li class="header__nav-item">
          <a href="#contact" class="header__nav-link" data-scroll data-menu-item>Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__user-nav">
      <button class="header__btn btn btn--modal" type="button" title="Open modal menu">Sale</button>
      <button class="header__burger" type="button" aria-label="Open menu" title="Open menu">
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
      </button>
    </div>
  </div>
</header>
