<section class="location container-wide">
  <img class="location__img" src="img/map.jpg" alt="Branches of the map" width="960" height="600" loading="lazy">
  <div class="location__content">
    <h2 class="location__title title backdrop-title backdrop-title--centered" data-title="look">Find us near you</h2>
    <div class="location__text text">
      <p>Nec suas signiferumque id. An eum labore commodo principes. Usu diam noluisse cu, nam
        adipisci</p>
    </div>
    <a class="location__btn btn btn--transparent" href="#0">View more</a>
  </div>
</section>
