<section class="motivation">
  <h2 class="visually-hidden">Motivation</h2>
  <ul class="motivation__list list-reset">
    <li class="motivation__item">
      <div class="motivation__card container">
        <div class="motivation__card-content">
          <h3 class="motivation__card-title title backdrop-title" data-title="Strong">
            Be you, just stronger! Power is in you
          </h3>
          <div class="motivation__card-text text">
            <p>Unum solum justo ex ius. Pro cu probo laboramus eius insolens euripidis te eos, ut agam tota.</p>
          </div>
          <a class="motivation__card-btn btn btn-reset btn-transparent" href="#">View more</a>
        </div>
        <img class="motivation__card-img" src="img/motivation/motivation-card-1.jpg" alt="man pulling up on a bar"
          width="518" height="760" loading="lazy">
      </div>
    </li>
    <li class="motivation__item">
      <div class="motivation__card container">
        <div class="motivation__card-content">
          <h3 class="motivation__card-title motivation__card-title--even title backdrop-title" data-title="Start">
            Today is the best day to start!
          </h3>
          <div class="motivation__card-text motivation__card-text--even text">
            <p>Sed abhorreant constituam consectetuer eu. At mei clita deserunt, his movet molestie nemore.</p>
          </div>
          <a class="motivation__card-btn btn btn-reset btn-transparent" href="#">View more</a>
        </div>
        <img class="motivation__card-img" src="img/motivation/motivation-card-2.jpg" alt="man with dumbbells"
          width="518" height="760" loading="lazy">
      </div>
    </li>
  </ul>
</section>
