<section class="training">
  <h2 class="visually-hidden">Types of training</h2>
  <ul class="training__list list-reset">
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-1.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">Maxpump</h3>
    </li>
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-2.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">aron gym</h3>
    </li>
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-3.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">fit & tone</h3>
    </li>
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-4.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">forza</h3>
    </li>
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-5.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">balance fitness</h3>
    </li>
    <li class="training__item">
      <img class="training__img" src="img/training/training-type-6.svg" alt="" aria-hidden="true" width="150"
        height="140" loading="lazy">
      <h3 class="training__title">body sculpt</h3>
    </li>
  </ul>
</section>
